app-search {
    height: 100%;
    width: 100%;
}

app-media-player {
    height: 100%;
    width: 100%;
}

app-playlist-display {
  height: 100%;
  width: 100%;
}

.title {
  padding: 70px 0;
  text-align: center;
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

.options {
  padding: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}